<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Zaga</title>s
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    
    <br/>
    <br/>
    <br/>
    <br/>
    
    <br/>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/coats">
                    <div class="thumbnail">
                      <%= image_tag("clothing-1.png") %>
                        <div class="caption">
                            <h3><%= link_to "毛晴的大衣",coats_path %></h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-2.png") %>
                        <div class="caption">
                            <h3><%= link_to "Shoes", default_path %></h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12  hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-3.png") %>
                        <div class="caption">
                            <h3>Shirts</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-4.png") %>
                        <div class="caption">
                            <h3>Jacket</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-5.png") %>
                        <div class="caption">
                            <h3>Dress</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-6.png") %>
                        <div class="caption">
                            <h3>Happy New Year!</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-7.png") %>
                        <div class="caption">
                            <h3>Hoodie</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-8.png") %>
                        <div class="caption">
                            <h3>A piece of shit</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 hero-feature">
                <a href="/default">
                    <div class="thumbnail">
                        <%= image_tag("clothing-9.png") %>
                        <div class="caption">
                            <h3>Skirt</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->


        <hr>
        <!-- Footer -->
        
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
